@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,800,900&display=swap');
{   margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p
{
    font-weight: 300;
    color:#111;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.banner .content
{
max-width: 900px;
text-align: center;
}
.banner .content  h2
{
    font-size: 5em;
    color:#111;
}
.banner .content p
{
    font-size:1cm;
    color: #111;
}
.btn
{
    font-size:1em;
    color:#111;
    background:#ff0157;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;    
}
.btn:hover
{
letter-spacing: 6px;

}


header
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #111;
    padding:10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.logo
{
color:#280979;
font-weight:700;
font-size:2em;
text-decoration: none;
}
header.sticky.logo
{
    color:#1887ab;

}
header .logo span 
{
    color: #ff0157;
}
header .navigation
{
    position: top-right;
    display: flex;
}
header .navigation li 
{
    list-style: none;
    margin-left: 30px;
    padding: 10px;
}
header .navigation li a 
{
    text-decoration: none;
    color: #111;
    font-weight: 300;

}
header.sticky .navigation li a 
{
    color:#111;
}
header .navigation li a:hover
{
    color:#6fb293;

}
.header{
    background-image: url("");
}
section
{
    padding: 100px;

}
.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background-image: url("");
    
}
.box-2{
    background-image: url("");
}
.box-3{
    background-image: url("");
}
.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: rgb(142, 205, 235);
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;  
} 
.box-1 p :nth-child(2),
.box-1 p :nth-child(2),
.box-1 p :nth-child(2){
    color:#fff;
    font-family:calibri;
    font-size: 23px;
    line-height: 0px;
}
.box-1 p :nth-child(3),
.box-1 p :nth-child(3),
.box-1 p :nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    width:230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button{
    weight:100px;
    height: 30px;
    background-color: #1887ab;
    border: none;
    outline: none;
    border-radius: 5px;

}